body {
    margin: 50px;
    font: normal 15px/1.5 Arial;
}
h1, h2 { margin: 0; line-height: 1.1em; }
h1 { font-size: 50px; letter-spacing: -1px; }
h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 30px;
}

.invalid-submit {
    position: relative;
    width: 400px;
    padding: 1em 1em 1em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
}

.close-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    margin-left: 1em;
    width: 16px;
    height: 16px;
    background: url(../img/close.png) no-repeat;
    cursor: pointer;
}

button {
    font-size: 13px;
    padding: .4em 1.4em;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #444;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

button:hover { 
    box-shadow: 0 0 2px rgba(0,0,0,.3); 
}
button:active { background: #eee; }